<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="yandex-verification" content="7d8cbd08f379ca40" />
        <!-- Bootstrap -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
        <!-- CSS -->
        <link rel="stylesheet" href="/css/style.css">
        <!-- Summernote WYSIWYG editor -->
        <link rel="stylesheet" href="/css/summernote.css">
        <!-- Add needed JS for page -->
        <script <%-blocks.JS1%>></script>
        <script <%-blocks.JS2%>></script>
        <title><%=blocks.title%></title>
        <meta name="keywords" content="дитячий, садочок, Львів, курси, англійська, підготовка, до, школи, заняття, дітей">
        <meta name="description" content="Петрик - ідеальне місце для розвитку вашої дити. Ми проводимо заняття для дошкільнят різного віку,
        та маємо міні-садочок. Чекаємо на ваших дітлахів.">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row top">
                <div class="header">
                    <img class="top-img" src="https://petryksite.files.wordpress.com/2016/03/isolated-logo.png">
                </div>
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/">Петрик</a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li class="<%=blocks.barMain%>"><a href="/">Домашня</a></li>
                                <li class="<%=blocks.barNews%>"><a href="/news">Новини</a></li>
                                <li class="<%=blocks.barSchedule%>"><a href="/schedule">Розклад занять</a></li>
                                <li class="<%=blocks.barPhotos%>"><a href="/photos">Фотогалерея</a></li>
                                <li class="<%=blocks.barContacts%>"><a href="/contacts">Контакти</a></li>
                                <li class="<%=blocks.barUsers%>"><a href="/users">Користувачі</a></li>
                            </ul>
                            <div class="nav navbar-nav navbar-right">
                                <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#message" data-whatever="artlenca@gmail.com">Написати нам</button>
                            </div>
                        </div><!--/.nav-collapse -->
                    </div><!--/.container-fluid -->
                </nav>
            </div>
            <%- body %>
            <div class="footer">
            </div>
        </div>
        <div class="modal fade" id="message" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Закрити</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Пишіть нам</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Отримувач:</label>
                                <input type="text" class="form-control" id="recipient-name">
                            </div>
                            <div class="form-group">
                                <label for="phone" class="control-label">Ваш телефон</label>
                                <input type="text" class="form-control" id="phone" value="+380">
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="control-label">Повідомлення:</label>
                                <textarea class="form-control" id="message-text"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                        <button type="button" class="btn btn-primary">Відправити повідомлення</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- JQuery -->
        <script src="/js/jquery-3.1.1.min.js"></script>
        <!-- Bootstrap -->
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/summernote.min.js"></script>
        <!-- JS files -->
        <script src="/js/script.js" type="text/javascript"></script>
        <script src="/js/language.js" type="text/javascript"></script>
    </body>
</html>